body {
  background-color: rgb(254, 252, 244);
}
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  width: 408px;
  height: 296px;
  margin: 0 auto;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}
.feedback-form label {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.feedback-form input {
  width: 360px;
  height: 40px;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  box-sizing: border-box;
}
.feedback-form textarea {
  box-sizing: border-box;
  width: 360px;
  height: 80px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  resize: none;
}

.feedback-form button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.feedback-form button:hover {
  background-color: #6c8cff;
}
.form-href {
  text-decoration: none;
  display: flex;
  color: #000;
}
.form-href-wrap {
  padding: 8px 16px;
  background-color: #f3dd86;
  border: 1px solid #b39d44;
  border-radius: 6px;
  cursor: pointer;
  width: 80px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-href-wrap:hover,
.form-href-wrap:focus {
  background-color: #e5cf53;
}
