body {
  background-color: rgb(254, 252, 244);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-href {
  text-decoration: none;
  display: flex;
  font-size: 16px;
  color: #000;
}
.gallery-href-wrap {
  padding: 4px 8px;
  background-color: #f3dd86;
  border: 1px solid #b39d44;
  border-radius: 6px;
  cursor: pointer;
  width: 80px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-href-wrap:hover,
.gallery-href-wrap:focus {
  background-color: #e5cf53;
}
